@import url("./../../App.css");

.position {
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 4vh;
  background-color: rgb(239, 239, 255);
}

.position p {
  font-size: 1.5rem;
  font-weight: 300;
}

.add-more {
  display: flex;
  flex-direction: row;
  margin-bottom: 4vh;
}